*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    outline: 1px solid #005a9c;
    border: none;
    border-radius: 20px;
    width: auto;
    max-width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 120px;
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.1);
    color: #005a9c;
    padding: 20px;
}

form {
    text-align: center;
}

form h2 {
    line-height: 2em;
}

form label {
   line-height: 1.5em; 
   font-size: 1.1em;
}

form input {
    border: 1.4px solid #005a9c;
    border-radius: 10px;
    padding: 8px 12.5px;
    width: 70%;
}

form input:focus {
    outline: none;
    border: 1.5px solid #005a9c;
}

form input[type=submit] {
    padding: 12px;
    color: #fff;
    background-color: #005a9c;
    font-size: 1.1em;
    border: none;
    border-radius: 15px;
    width: 60%;
    cursor: pointer;
    transition: 0.1s;
}

form input[type=submit]:hover {
    color: #005a9c;
    background-color: #fff;
    font-size: 1.2em;
    border-radius: 50px;
    outline: 1px solid #005a9c;
    transition: 0.2s;
}

form a {
    color: orange;
}

form .login-link {
    color: green!important;
    text-decoration: underline;
    cursor: pointer;
}
form .home-link {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    background-color: #005a9c;
    padding: 7.5px 5px 5px 10px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
    transition: 0.2s;
}

form .home-link:hover {
    background-color: #fff;
    color: #005a9c;
    outline: 1px solid #005a9c;
    transition: 0.2s;
}

@media screen and (max-width: 800px) {
    form {
        width: 90%;
        max-width: 100%;
        margin: 75px 0;
    }
    form h2 {
        font-size: 1.15em;
        line-height: 2.2em;
    }
    form input {
        width: 85%;
    }
}