*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

details {
    width: 45%;
    background-color: #005a9C33;
    color: #005a9c;
    padding: 10px;
    margin: 50px 50px 30px 50px;
    @media screen and (max-width: 800px) {
        width: 70%;
    }
}

summary {
    list-style: none;
}

summary:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

details summary:nth-child(1)::before {
    content: "▼";
    margin-right: 10px;
}

details[open] summary:nth-child(1)::before {
    content: "✕";
    margin-right: 10px;
}

.container_box {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 5% 10%;
    justify-content: center;
    align-items: center;
    padding: 35px 0 50px 0;
}

.box {
    height: 500px;
    width: 250px;
    display: grid;
    grid-template-rows: 35px 347px 30px 41px 2px 45px;
    grid-template-columns: 50px 50px 50px 50px 15px 35px;
    /* outline: 1px solid #005a9c; */
    background-color: #005a9c;
    color: white;
    border-radius: 15px;
    border: none;
    outline: 1px solid #005a9c;
    font-weight: bold;
    box-shadow: 3px 5px 4px 5px rgba(0.1, 0.2, 0.1, 0.2);
}

.see-more_case {
    position: relative;
    grid-area: 1 / 6 / 2 / 7;
}

.see-more_case button {
    width: 35px;
    height: 35px;
    font-size: 1.5em;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    color: #005a9c;
    border: none;
    box-shadow: 0px 3px 2px 3px rgba(0.1, 0.1, 0.1, 0.1);
}

.tooltip {
    position: absolute;
    background: #fff;
    border: none;
    width: 350px;
    padding: 17.5px;
    color: #005a9c;
    font-size: 1em;
    border-radius: 12.5px;
    outline: 2px solid gold;
    /* POSITIONNEMENT */
    top: 55px;
    left: -155px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}
.tooltip::after, .tooltip::before {
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
}
.tooltip::after {
    border-bottom-color: gold;
    border-width: 25px;
    margin-left: -25px;
}
.tooltip::before {
    border-bottom-color: gold;
    border-width: 30px;
    margin-left: -30px;
}

.btn-tooltip {
    display: inline;
    position: relative;
}

.btn-tooltip:hover .tooltip{
    pointer-events: all;
    opacity: 1;
    transition: all 0.4s ease;
}

.avatar_case {
    background-image: url('img/avatars/Avatar.jpg');
    grid-area: 1 / 1 / 3 / 7;
}

.avatar_case img {
    border-radius: 2px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img_info {
    filter: invert(100%);
}

.name_case {
    grid-area: 3 / 1 / 4 / 7;
    background-color: #fff;
    color: #005a9c;
    font-size: 1.5em;
    position: relative;
    top: 0.2px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.role_case {
    grid-area: 4 / 1 / 5 / 7;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 0 0px;
}

hr {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0px!important;
    grid-area: 5 / 1 / 6 / 7;
    background-color: #fff;
    height: 2px;
}

.info_case {
    font-size: 1.3em;
}

.info_classe {
    grid-area: 6 / 1 / 7 / 3;
}

.info_age {
    grid-area: 6 / 4 / 7 / 7;
}

.separation_point_case {
    grid-area: 6 / 3 / 7 / 4;
    color: #fff;
    font-size: 1.4em;
}
.classe_span,
.age_span,
.separation_point_case {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main {
    height: 500vh;
    margin-top: 50px;
}

.age_span {
    margin-left: -7.5px;
}

.classe_span {
    margin-left: 7.5px;
}

main {
    font-family:cursive;
    height: 1100vh;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
    .container_box {
        grid-template-columns: 250px;
        gap: 0.4%;
    }
    main {
        height: 1675vh;
    }
    .see-more_case {
        display: none;
    }
    .tooltip {
        display: none;
    }
}